html { 
    background-color: black;}
div {
    margin: 20px;
    border: solid;
    border-color: white;
    border-width: 20px;
    background-color: black;
    width: 520px;}
img {
    border: solid;
    border-color: white;
    border-width: 0px 0px 20px 0px}
p   {
    text-align: center;
    color: azure;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
